manifest {
    name = 'Bahia analysis '
    description = 'Workflow for the bahia analysis paper concerning Mycobacterium tuberculosis'
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@gmail.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}


process {
    errorStrategy = 'ignore'
    maxRetries = 3
}


profiles {
    standard {
        docker.enabled = true
    }

    aws_batch {
        aws.client.uploadMaxThreads = 4
    }

    google_cloud_life_sciences {
        process.executor = 'google-lifesciences'
        workDir = 'gs://bahia-analysis-bucket/work'
//        google.region  = 'us-central1'
	google.zone = 'us-central1-f'
//	google.lifeSciences.preemptible = true
        google.project = 'bahia-analysis'

        withName:
        MTBSEQ_COHORT {
            cpus = 8
            memory = '16 GB'
        }

        withName:
        UNICYCLER {
            cpus = 8
            memory = '16 GB'
        }

    }

}

