manifest {
    name = 'Bahia analysis '
    description = 'Workflow for the bahia analysis paper concerning Mycobacterium tuberculosis'
    version = '0.1.0'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Emilyn Costa Conceição <emilyncosta@gmail.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}


process {
    errorStrategy = 'ignore'
}


profiles {
    standard {
        docker.enabled = true

        params {
            gatk38_jar = "$baseDir/resources/GenomeAnalysisTK.jar"

            outdir = "$baseDir/results"

            mtbseq_library_name = "somelib"

            mtbseq_project_name = "BahiaAnalysis"

            resultsDir_mtbseq_cohort = "$baseDir/results/mtbseq_cohort"

        }


        process {

            withName:
            MTBSEQ_COHORT {
                cpus = 7
                memory = '19 GB'
            }
        }

    }

    aws_batch {
        aws.client.uploadMaxThreads = 4
    }

    google_cloud_life_sciences {
        process.executor = 'google-lifesciences'
        workDir = 'gs://bahia-analysis-bucket/work'
//        google.region  = 'us-central1'
        google.zone = 'us-central1-f'
//	google.lifeSciences.preemptible = true
        google.project = 'bahia-analysis'

        process {

            errorStrategy = 'retry'
            maxRetries = 2

            withName:
            MTBSEQ_COHORT {
                cpus = 8
                memory = '16 GB'
            }

            withName:
            UNICYCLER {
                cpus = 8
                memory = '16 GB'
            }

        }

    }
}

