process {
    withName:
    'MTBSEQ' {
        conda = 'bioconda::mtbseq:1.0.3'
    }

    withName:
    'MTBSEQ_COHORT' {
        conda = 'bioconda::mtbseq:1.0.3'
    }

    withName:
    'PROKKA' {
        conda = 'bioconda::prokka:1.14.6'
    }

    withName:
    'RD_ANALYZER' {
        conda = 'bioconda::rd-analyzer:1.01-0'
    }

    withName:
    'SPADES' {
        conda = 'bioconda::spades:3.14.0'
    }

    withName:
    'SPOTYPING' {
        conda = 'bioconda::spotyping:2.1-4'
    }

    withName:
    'TRIMMOMATIC' {
        conda = 'bioconda::trimmomatic:0.35'
    }

    withName:
    'UNICYCLER' {
        conda = 'bioconda::unicycler:0.4.8'
    }

    withName:
    'TBPROFILER_PROFILE' {
        conda = 'bioconda::tb-profiler:4.1.1'
    }

    withName:
    'TBPROFILER_COLLATE' {
        conda = 'bioconda::tb-profiler:4.1.1'
    }
}
