docker.enabled = true

process {
    withName:
    'MTBSEQ' {
        container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
    }

    withName:
    'MTBSEQ_COHORT' {
        container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
    }

    withName:
    'PROKKA' {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    }

    withName:
    'RD_ANALYZER' {
        container = 'quay.io/biocontainers/rd-analyzer:1.01--hdfd78af_0'
    }

    withName:
    'SPADES' {
        container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
    }

    withName:
    'SPOTYPING' {
        container = 'quay.io/biocontainers/spotyping:2.1--hdfd78af_4'
    }

    withName:
    'TRIMMOMATIC' {
        container = 'quay.io/biocontainers/trimmomatic:0.35--6'
    }

    withName:
    'UNICYCLER' {
        container = 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
    }

    withName:
    'TBPROFILER_PROFILE' {
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }

    withName:
    'TBPROFILER_COLLATE' {
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }
}
