params {
    gatk38_jar = "$baseDir/resources/GenomeAnalysisTK.jar"

    outdir = "$baseDir/results"

    mtbseq_library_name = "somelib"

    mtbseq_project_name = "BahiaAnalysis"

    resultsDir_mtbseq_cohort = "$baseDir/results/mtbseq_cohort"
}

process {
    withName:
    'MTBSEQ' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'MTBSEQ_COHORT' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'PROKKA' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'RD_ANALYZER' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'SPADES' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'SPOTYPING' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'TRIMMOMATIC' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'UNICYCLER' {
        cpus = 8
        memory = "16 GB"
    }

    withName:
    'TBPROFILER_PROFILE' {
        cpus = 4
        memory = '6 GB'
    }

    withName:
    'TBPROFILER_COLLATE' {
        cpus = 2
        memory = '2 GB'
    }
}

