params {
        gatk38_jar = "$baseDir/resources/GenomeAnalysisTK.jar"

        outdir = "$baseDir/results"

        mtbseq_library_name = "somelib"

        mtbseq_project_name = "BahiaAnalysis"

        resultsDir_mtbseq_cohort = "$baseDir/results/mtbseq_cohort"
        }

process{
		withName:
           MTBSEQ {
   			container 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
    		cpus 8
    		memory "16 GB"
           }

        withName:
           MTBSEQ_COHORT {
   			container container 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
    		cpus 8
    		memory "16 GB"
           }

        withName:
           PROKKA {
   			container 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
    		cpus 8
   			memory "16 GB"
           }

        withName:
           RD_ANALYZER {
   			container 'quay.io/bioinformatics_playground/rd_analyzer:0.0.1'
    		cpus 8
    		memory "16 GB"
           }

        withName:
           SPADES {
   			container 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
    		cpus 8
    		memory "16 GB"
           }

        withName:
           SPOTYPING {
   			container 'quay.io/bioinformatics_playground/spotyping:0.0.1'
    		cpus 8
    		memory "16 GB"
           }

        withName:
           TRIMMOMATIC {
   		    container 'quay.io/biocontainers/trimmomatic:0.35--6'
   			cpus 8
   			memory "16 GB"
           }

       	withName:
           UNICYCLER {
   			container 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
   			cpus 8
    		memory "16 GB"
           }

}